<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> <% title %>  </title>
    <style>

    body {
       background: teal;
       color: #f1f1f1;  
    } 

    h1, p {
        text-align: center;
    }

    a {
        list-style: none;
        color: #f1f1f1;
    }

</style>
</head> 

<body>
    <h1>Accueil</h1>
    <p>Bienvenue sur le site de mon API todo-List</p>
    <p>Les tâches seront décrites par la suite.</p>
    <p>Voir mon Api Custom ici : <a href="/custom-api">/custom-api</a></p>      
</html> 